
/** Global *******************************************************************/

img { 
	border: none !important;
	box-shadow: 0 0 20px rgba(0, 0, 0, 1) !important;
}

iframe {
	box-shadow: 0 0 20px rgba(0, 0, 0, 1);
	background-color: #FFFFFF;
}

/** Slide 1 *******************************************************************/

.slide-1 img {
	width: 200px; 
	height: 200px; 
	box-shadow: none !important;
}

/** Slide 4 *******************************************************************/

html.hold-butts div.slide-background.present {
    background-position: left -50px;
}

html.hold-butts p {
    color: #FFFFFF;
    text-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.5), -3px 3px 3px rgba(0, 0, 0, 0.5), -3px -3px 3px rgba(0, 0, 0, 0.5);
}

/** Slide 5 *******************************************************************/

.slide-5 .code {
	width: 1000px;
}

.slide-5 .result {
	position: absolute; 
	top: 320px; 
	right: -50px; 
	width: 500;
}

/** Slide 7 *******************************************************************/

.slide-7 .result {
	position: absolute;
	top: 400px;
	left: 400px;
	color: #FFFFFF;
}

/** Slide 8 *******************************************************************/

.slide-8 img {
	position: absolute;
	top: 150px; left: 600px;
	width: 300px;
	height: 200px;
}

/** Slide 9 *******************************************************************/

.slide-9 img { position: absolute; }
.slide-9 .spacer { height: 800px; }
.slide-9 .gulp { top: 105px; left: 0px; }
.slide-9 .main { top: 475px; left: 270px; }
.slide-9 .html { top: 120px; left: 505px; }
.slide-9 .top { top: 75px; left: -60px; height: 625px; }
.slide-9 .sub { top: 150px; left: 360px; }
.slide-9 .result { 
	position: absolute;
	top: 450px; left: 630px;
}

/** slide-11 *******************************************************************/

.slide-11 .title {
	font-size: 48px;
}

.slide-11 .text-content {
	margin: 50px;
}

.slide-11 p {
	font-size: 20px;
}

.slide-11 .result {
	position: absolute;
	top: 470px; left: 490px;
}

.slide-11 .spacer {
	height: 300px;
}

/** slide-12 *******************************************************************/

.slide-12 .title {
	font-size: 48px;
}

.slide-12 p {
	font-size: 20px;
}

.slide-12 .spacer {
	height: 800px;
}

.slide-12 .html {
	position: absolute;
	top: 75px; left: -75px;
}

.slide-12 .app {
	position: absolute;
	top: 90px; left: -125px;
}

.slide-12 .field {
	position: absolute;
	top: 100px; left: 490px;
}

.slide-12 .example {
	position: absolute;
	top: 440px; left: 260px;
}

.slide-12 .example iframe {
	height: 270px;
	width: 200px;
}

/** slide-13 *******************************************************************/

.slide-13 .title {
	font-size: 48px;
}

.slide-13 p {
	font-size: 20px;
}

.slide-13 .spacer {
	height: 800px;
}

.slide-13 .app {
	position: absolute;
	top: 90px; left: -125px;
}

.slide-13 .square {
	position: absolute;
	top: 100px; left: 450px;
}

.slide-13 .example {
	position: absolute;
	top: 330px; left: 415px;
}

.slide-13 .example iframe {
	width: 200px;
	height: 300px;
}

/** slide-14 *******************************************************************/

.slide-14 .title {
	font-size: 48px;
}

.slide-14 p {
	font-size: 20px;
}

/** slide-15 *******************************************************************/

.slide-15 .prop {
	position: absolute;
	top: 90px; left: -120px;
}

.slide-15 .mask {
	position: absolute;
	top: 130px; left: 460px;
}

.slide-15 .fail {
	position: absolute;
	top: 220px; left: 700px;
}

.slide-15 .spacer {
	height: 800px;
}

.slide-15 p {
	font-size: 20px;
}

/** slide-16 *******************************************************************/

.slide-16 .spacer {
	height: 800px;
}

.slide-16 .profile {
	position: absolute;
	top: 155px; left: -130px;
}

.slide-16 .service {
	position: absolute;
	top: 105px; left: 260px;
}

.slide-16 .app {
	position: absolute;
	top: 90px; left: 500px;
}

.slide-16 .example {
	position: absolute;
	top: 200px; left: -100px;
}

.slide-16 iframe {
	width: 1020px;
	height: 350px;
}

/** slide-17 *******************************************************************/

.slide-17 .spacer {
	height: 800px;
}

.slide-17 .app {
	position: absolute;
	top: 90px; left: -130px;
}

.slide-17 .modal {
	position: absolute;
	top: 105px; left: 575px;
}

.slide-17 .example {
	position: absolute;
	top: 200px; left: 350px;
}

.slide-17 iframe {
	width: 500px;
	height: 400px;
}

/** slide-18 *******************************************************************/

.slide-18 .spacer {
	height: 800px;
}

.slide-18 .html {
	position: absolute;
	top: 190px; left: 180px;
}

.slide-18 .app {
	position: absolute;
	top: 90px; left: 335px;
}

.slide-18 .picker {
	position: absolute;
	top: 60px; left: -100px;
}

.slide-18 .err {
	position: absolute;
	top: 335px; left: 630px;
}

.slide-18 .example {
	position: absolute;
	top: 300px; left: 85px;
}

.slide-18 iframe {
	width: 360px;
	height: 400px;
}

/** slide-19 *******************************************************************/

.slide-19 .spacer {
	height: 800px;
}

.slide-19 .broke {
	position: absolute;
	top: 100px; left: -100px;
	width: 600px; height: 300px;
}

.slide-19 .err {
	position: absolute;
	top: 450px; left: -50px;
	width: 450px; height: 70px;
}

.slide-19 .fixed {
	position: absolute;
	top: 330px; left: 420px;
}

.slide-19 .example {
	position: absolute;
	top: 150px; left: 600px;
}

.slide-19 iframe {
	width: 150px;
	height: 150px;
}

/** slide-20 *******************************************************************/

.slide-20 .spacer {
	height: 800px;
}

/** slide-add-res *******************************************************************/

.slide-add-res .jk {
	position: absolute;
	top: 341px; left: 83px;
	box-shadow: none !important;
}
